<div class="button-grid">
    <button id="mainBtn" class="control-button main-button">
        <i class="fas fa-circle-play"></i>
        <span>Start Robot</span>
    </button>
  
    <button id="secondBtn" class="control-button second-button" disabled>
        <i class="fas fa-power-off"></i>
        <span>Power Off</span>
    </button>
</div>

<div id="popupOverlay" class="popup-overlay"></div>
<div id="unlockOverlay" class="popup-overlay"><i class="fa fa-lock"></i></div>
<div id="popup" class="popup">
    <h3 style="text-align: center;">Admin Menu</h3>
    <div class="button-grid">
        <button id="settingsBtn" class="control-button settings-button">
            <i class="fas fa-cog"></i>
            <span>Robot Configuration</span>
        </button>
        
        <button id="closeBtn" class="control-button close-button">
            <i class="fas fa-close"></i>
            <span>Close App</span>
        </button>
    </div>    
</div>

<div id="loadingOverlay" class="loading-overlay">
    <div class="loading-spinner"></div>
</div>

<div id="popupVolume" class="popup-volume">
    <div class="slider-container">
        <i class="fas fa-volume-up"></i>
        <input type="range" 
                class="volume-slider" 
                min="0"
                max="150" 
                value="50" 
                id="volumeSlider">
    </div>
</div>