<div class="status-panel">
    <h3 style="margin-top: 0;">System Status</h3>
    <div class="status-item">
        <div id="powerStatus" class="status-indicator" style="background-color: #ef4444;"></div>
        <span>Power: Off</span>
    </div>
    <div class="status-item">
        <div id="batteryStatus" class="status-indicator" style="background-color: #22c55e;"></div>
        <span>Battery </span><p id="batteryIcon"><i class="fa fa-battery-full"></i></p>
    </div>
    <div class="status-item">
        <div id="systemStatus" class="status-indicator" style="background-color: #eab308;"></div>
        <span>Status: Ready</span>
    </div>
</div>