<div class="button-grid">
    <button id="powerBtn" class="control-button power-button">
        <i class="fas fa-power-off"></i>
        <span>Power</span>
    </button>
    
    <button id="startBtn" class="control-button start-button" disabled>
        <i class="fas fa-play"></i>
        <span>Start</span>
    </button>

    <button id="configBtn" class="control-button config-button" >
        <i class="fas fa-cog"></i>
        <span>Config</span>
    </button>

    <button id="homeBtn" class="control-button home-button" disabled>
        <i class="fas fa-home"></i>
        <span>Home</span>
    </button>
</div>